doctype html
html(lang="en")
	head
		meta(name="viewport", content="width=device-width, user-scalable=no, initial-scale=1")
		meta(name="mobile-web-app-capable", content="yes")
		meta(charset="utf-8")
		title Slack Clone
		link(rel="stylesheet", href="https://fonts.googleapis.com/css?family=Roboto:400,700,300")
		link(rel="import", href="bower_components/webcomponentsjs/webcomponents-lite.js")
		link(rel="stylesheet", href="css/app.css")
		link(rel="import" href="views/slackr-app.html")
	body
		slackr-app 
