doctype html
html(lang="en")
  head
    meta(name="viewport", content="width=device-width, user-scalable=no")
    meta(charset="utf-8")
    link(rel="stylesheet", href="css/main.css")
    script(src="js/app.js", async)
    title Slack Clone
  body
    div.nav_drawer
      section.nav_links
        li.item
          div.ic
          div.title Search
        li.item
          div.ic
          div.title Search
      section.footer
        div.item.ic
        div.item.login Login
    div.container
      header.nav_bar
        div.hamburger
        div.title Slack Clone
