html
	head
		link(rel='stylesheet', href='css/base.css')
		link(rel="import", href="bower/polymer/polymer.html")
		link(rel="import", href="bower/iron-icons/iron-icons.html")
		link(rel="import", href="bower/paper-input/paper-input.html")
		block head
	body
		block body
