
<link rel="import" href="../bower_components/polymer/polymer.html"/>
<dom-module id="register-view">
  <template>
    <div>
      <form action="http://localhost:8080/api/auth/register" method="post" enctype="application/x-www-form-urlencoded" id="registration-form">
        <input placeholder="Username" name="userId"/>
        <input type="password" placeholder="Password" name="password"/>
        <input type="password" placeholder="Verify Password" name="password_verify"/>
        <input type="email" placeholder="Email" name="email"/>
        <input type="submit" value="submit"/>
      </form>
    </div>
  </template>
  <script>
    Polymer({
    	is:'register-view',
    	attached: function(){
    		const regForm = document.getElementById('registration-form');
    		regForm.addEventListener('submit', e => {
    			e.preventDefault();
    			let regPromise = register( regForm );
    			regPromise.then( user => {
    				
    			})
    			.catch((err) => {
    				
    			});
    		});
    	}
    });
    
    function register( form ){
    	return new Promise(( resolve, reject ) => {
    		const data = new FormData( form );
    		const REG_API_URL = 'http://localhost:8080/api/auth/register';
    		const METHOD = 'POST';
    		
    		let params =
    		  `userId=${encodeURIComponent(data.get('userId'))}`
    		+ `&password=${encodeURIComponent(data.get('password'))}` 
    		+ `&password_verify=${encodeURIComponent(data.get('password_verify'))}`
    		+ `&email=${encodeURIComponent(data.get('email'))}`;
    		
    		let xhr = new XMLHttpRequest();
    		
    		xhr.open( METHOD , REG_API_URL, true );
    		xhr.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
    		
    		xhr.onreadystatechange = function() {
    			if ( xhr.readyState == 4 && xhr.status == 200 ) {
    				let json = JSON.parse( xhr.responseText );
    				resolve( json );
    			}
    		}
    		
    		xhr.send( params );
    		
    	});
    }
  </script>
</dom-module>