
<link rel="import" href="../bower_components/polymer/polymer.html"/>
<link rel="import" href="../bower_components/paper-elements/paper-elements.html"/>
<link rel="import" href="chat-message.html"/>
<dom-module id="settings-view">
  <template>
    <style>
      .wrapper{
        
      }
      .title{
        text-align: center;
      }
      
      paper-checkbox{
        --paper-checkbox-checked-ink-color: #FF4081;
        --paper-checkbox-checked-color: #FF4081;
        display: inline-block;
        font-weight: bold;
      }
      paper-material{
        border-bottom: 1px;
        width: 90%;
        max-width: 1000px;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 16px;
      }
      
      paper-item{
        display: block;
        padding: 8px;
      }
      
      .description{
        display: block;
        font-size: 0.8em;
        line-height: 1.2em;
        color: #2d2d2d;
        margin-left: 27px;
        margin-top: 8px;
      }
    </style>
    <div class="wrapper">
      <div class="title">
        <h3>Settings</h3>
      </div>
      <div class="settings">
        <paper-material elevation="0" class="privacy">
          <h4>Privacy</h4>
          <paper-item>
            <paper-checkbox>Access Location</paper-checkbox>
            <div class="description">
              Allow us to access your location to provide more relevant
              information
            </div>
          </paper-item>
        </paper-material>
        <paper-material elevation="0" class="security">
          <h4>Security</h4>
          <paper-item>
            <paper-checkbox>Encrypt Data</paper-checkbox>
            <div class="description">
              Encrypt your data on this device to in case your device is stolen
              
            </div>
          </paper-item>
        </paper-material>
      </div>
    </div>
  </template>
  <script>
    Polymer({
      is: 'settings-view'
    });
  </script>
</dom-module>